.form{
    

font-family: Verdana;
text-align: center;
color:black;
}
input[type="text"]
{
    width:9cm;
    height:0.9cm;
    color:gray
}
.head {
    border:aquamarine; 
    border-width:81px; 
    border-style:solid ;
}
.s{
    
    text-align: center;
    font-family: verdana;
    color:black;
    font-size: medium;
}
.body
{
    text-align: center;
    background-image: -moz-linear-gradient();
    
}
.button {
    background-color: black;
    width :9cm;
    height: 0.9cm;
    color: white;
    text-align: center;
    font-weight: bold ;
    font-size:0.3cm;
    
}
.ta
{
    color:gray;
    font-family: Verdana;

}
.title
{
    font-size: 1.3cm;
}

